body{
	height: 100%;
	padding: 0px;
	margin: 0px;
}
.navbar {
	/*position:fixed;*/
	font-family: Arial, Helvetica, sans-serif;
	font-size:15px;
	background-color: rgba(0,0,0,0.8);
	left: 0px; top: 0px;
	width:100%;
	z-index: 1000;
	overflow-x: hidden;
	overflow-y: hidden;
	padding: 3px 0px;
}
.navbar:after{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.navbar ul {
	margin: 0px;
	padding: 0% 0%;
	text-align: center;
	padding: 4px 5px;
	border-top: 3px dotted white;
	border-bottom: 3px dotted white;
}
.navbar li {
	display: inline-block;
	border: 1px solid grey;
	color:grey;
	margin: 3px 5px;
	background: white;
	padding: 14px 15px;
	border-radius: 24px;
	font-weight: bold;
		transition-duration:0.2s;
	-webkit-transition-duration:0.2s;
}
.navbar li:hover{
	background:  #0099CC;
	border:1px solid white;
	color: white;
}

/* displaying two tiles per row... default */
	
@media screen and (max-width: 512px) {
	.navbar li {
		text-align:center;
		width: 90%;
		margin: 5px 0px;
	}	
	.navbar ul {
		margin: 0px;
		padding: 0% 10%;
	}
}



@media screen and (min-width: 800px) {
	.navbar {
		width: 100%;
		height: auto;
		margin:10px 0%;
	}
}
