body{
    position: absolute;
        left:0px; right: 0px;
        top:0px; bottom: 0px;
	padding: 0px;
	margin: 0px;
        font-family: "Trebuchet MS", Helvetica, sans-serif;
}
a{
    text-decoration: none;
}

.tile-area {
	position:relative;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size:15px;
	width: 100%;
        top: 60px;
}
.tile-area:after{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
}
::selection {background:transparent;}
::-moz-selection {background:transparent;}
::-op-selection {background:transparent;}
::-ms-selection {background:transparent;}
/*********************** tile *********************/
.tile-area > .tile {
	margin: 0 0;
	left: 0%;
	float: left;
	position: relative;
	border: none;
	text-decoration: none;
}
.tile-area > .tile:after{
	display: block;
	content: '';
}

/* displaying five tiles per row... default */
	/* setting the width of each tile type */
	.tile-area > .tile{width: 33.333333%;}
	.tile-area > .tile.double { width: 66.666667%;}
	.tile-area > .tile.quad { width: 66.666667%;}

	/* setting the height of each tile type relative to its width */
	.tile-area > .tile:after {padding-top: 100%;}
	.tile-area > .tile.double:after {padding-top: 50%;} /*not square because of rounding problem */
	.tile-area > .tile.quad:after {padding-top: 100%;} /*not square because of rounding problem */

@media screen and (max-width: 440px) {
    /* setting the width of each tile type */
	.tile-area > .tile{width: 50%;}
	.tile-area > .tile.double { width: 100%;}
	.tile-area > .tile.quad { width: 100%;}

	/* setting the height of each tile type relative to its width */
	.tile-area > .tile:after {padding-top: 100%;}
	.tile-area > .tile.double:after {padding-top: 49.8%;} /*not square because of rounding problem */
	.tile-area > .tile.quad:after {padding-top: 49.8%;} /*not square because of rounding problem */
        
}
@media screen and (min-width: 800px) {
    
	.tile-area {
		width: 80%;
		margin:0 10% 
	}

	/* setting the width of each tile type */
	.tile-area > .tile{width: 20%;}
	.tile-area > .tile.double { width: 40%;}
	.tile-area > .tile.quad { 
		width: 40%;
		float: right;
	}

	/* setting the height of each tile type relative to its width */
	.tile-area > .tile:after {padding-top: 100%;}
	.tile-area > .tile.double:after {padding-top: 50%;}
	.tile-area > .tile.quad:after {padding-top: 100%;}
}


/******************** tile-content ********************/
.tile-area > .tile > .tile-content {
	position: absolute;
	left: 1px; right: 1px; top: 1px; bottom: 1px;
        /*left: 0px; right: 0px; top: 0px; bottom: 0px;*/
	/*border: 5px solid white;*/
	background-size:cover;
	background-repeat: no-repeat;
	background-position: center;
	margin: 0px;
}
.tile-area > .tile > .tile-content:hover{
	border: 0px solid white;
	margin: -4px;/*set the cell border*/
}
.tile-area > .tile > .tile-content{
	-webkit-transition-duration:0.3s;
           -moz-transition-duration:0.3s;
            -ms-transition-duration:0.3s;
             -o-transition-duration:0.3s;
                transition-duration:0.3s;
}

/********************* title *********************/
.tile-area > .tile > .tile-content > .title{
	position: absolute;
	left:0px; right:0px; bottom: 0px;
	color: white;
	text-align:center;
	overflow: hidden;
	
	height: 2.2em;
	font-size:1em;
	padding: .2em 2px;
	background-color: rgba(0,0,0,0.7);
	
    /* transition for various browsers  */
	-webkit-transition-duration:0.2s;
           -moz-transition-duration:0.2s;
            -ms-transition-duration:0.2s;
             -o-transition-duration:0.2s;
                transition-duration:0.2s;
}
.tile-area > .tile > .tile-content:hover > .title{
	height: 4.5em;
	padding: .2em 6px;
	background-color: rgba(0,0,0,0.8);
}

/************************************CG ka metro wala kamal khatam************************************************************/
.p-navigation{
    text-decoration: none;
    margin: 5px;
    color: black;
}
.p-navigation.right{
    position: fixed;
    right: 0px;
    bottom: 0px;
}
.p-navigation.left{
    position: fixed;
    left: 0px;
    bottom: 0px;
}

#backdrop{
    display: none;
    position: fixed;
    top:0px;bottom: 0px;
    left: 0px; right:0px;
    z-index: 4950;
    background: rgba(0,0,0,0.3);
    overflow-y: scroll;
}

.modal{
    display: none;
    position: absolute;
    left:14%; right: 14%;
    top:80px;
    
    //width: 70%;
    margin: 0px ;
    padding: 15px;
    text-align: justify;
    background: rgb(255,255,255);
    overflow-x: hidden;
}
.modal > .bgImage{
    height: 200px;
    width:300px;
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
}
.modal > .close{
    position: absolute;
    right: 0px;top: 0px;
    padding: 2px;
}
@media screen and (max-width: 800px) {
    .modal{
        //width: 95%;
        left:2%; right:2%;
        margin: 0px;
    }
}